name: Release

on:
  push:
    branches: [main, master]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  release:
    uses: webpresso/github-actions/.github/workflows/changesets-release.yml@3f0136f88a488bc0894ab81ab3c8544b2e8dabf2
    with:
      install_command: pnpm install --frozen-lockfile
      version_command: pnpm run version
      publish_command: pnpm run release:publish
      runner: ubuntu-latest
